body {
    font-family: Verdana, Geneva, sans-serif;
    background: #ccc;
  background: -webkit-linear-gradient(#ccc, #eee);
  background:    -moz-linear-gradient(#ccc, #eee);
  background:         linear-gradient(#ccc, #eee);
}

h1,
h2,
h3,
h4,
h5,
h6 {
    text-transform: uppercase;
    font-family: "Arial Black", Gadget, sans-serif;
    font-weight: 700;
    letter-spacing: 1px;
}

p {
    font-size: 1.2em;
    line-height: 1.6;
    color: #000;
}

.carousel-caption h1 {
  text-shadow: 2px 2px 2px rgba(0,0,0,0.5);
}

.col-md-6 ul li {
    font-size: 1.25em;
    line-height: 1.6;
    color: #000;
}

hr {
    max-width: 400px;
    border-color: #999999;
}

.brand,
.address-bar {
    display: none;
}

.navbar-brand {
    text-transform: uppercase;
    font-weight: 900;
    letter-spacing: 2px;
    float: none;
}

.active-page {
  background-color: #eee;
}

.logosmall {
  padding: 5px;
}

.navbar-nav {
    text-transform: uppercase;
    font-weight: 200;
    letter-spacing: 3px;
    font-family: Arial, Gadget, sans-serif;
}

.img-full {
    min-width: 100%;
}

.brand-before,
.brand-name {
    text-transform: capitalize;
}

.brand-before {
    margin: 15px 0;
}

.brand-name {
    margin: 0;
    font-size: 4em;
}

.tagline-divider {
    margin: 15px auto 3px;
    max-width: 250px;
    border-color: #999999;
}

.box {
    margin-bottom: 20px;
    padding: 30px 15px;
    background: #fff;
    background: rgba(255,255,255,0.9);
}

.intro-text {
    text-transform: uppercase;
    font-size: 1.25em;
    font-weight: 400;
    letter-spacing: 1px;
}

.img-border {
    float: none;
    margin: 0 auto 0;
    border: #999999 solid 1px;
}

.img-left {
    float: none;
    margin: 0 auto 0;
}

.img-responsive {
  margin: 0 auto;
}

footer {
    background: #fff;
    background: rgba(255,255,255,0.9);
}

footer p {
    margin: 0;
    padding: 20px 0;
    font-size: 1em;
}

.back-to-top {
    cursor: pointer;
    position: fixed;
    bottom: 20px;
    right: 0px;
    z-index: 9999;
}

  .carousel-caption {
    visibility: hidden;
  }

@media screen and (min-width:768px) {
    .brand {
        display: inherit;
        margin: 0;
        padding: 0;
        padding-top: 20px;
        text-align: center;
        text-shadow: 1px 1px 2px rgba(0,0,0,0.5);
        font-family: Arial, Gadget, sans-serif;
        font-size: 7em;
        font-weight: 600;
        line-height: normal;
        color: #fff;
    }

    .h1LowerCase {
      text-transform: none;
    }

    .brand img {
      margin-bottom: 20px;
    }

    .carousel-caption {
      visibility: visible;
    }

    .carousel-caption h1 {
      font-size: 3em;
      text-shadow: 3px 3px 2px rgba(0,0,0,0.5);
    }

    .top-divider {
        margin-top: 0;
    }

    .img-left {
        float: left;
        margin-right: 25px;
    }

    .address-bar {
        display: inherit;
        margin: 0;
        padding: 0 0 20px;
        text-align: center;
        text-shadow: 1px 1px 2px rgba(0,0,0,0.5);
        text-transform: uppercase;
        font-size: 1.25em;
        font-weight: 400;
        letter-spacing: 3px;
        color: #fff;
    }

    .navbar {
        border-radius: 0;
    }

    .navbar-header {
        display: none;
    }

    .navbar {
        min-height: 0;
    }

    .navbar-default {
        border: none;
        background: #fff;
        background: rgba(255,255,255,0.9);
    }

    .nav>li>a {
        padding: 10px 20px;
    }

    .navbar-nav>li>a {
        line-height: normal;
    }

    .navbar-nav {
        display: table;
        float: none;
        margin: 0 auto;
        table-layout: fixed;
        font-size: 1.25em;
    }

    .dropdown-menu {
      padding: 20px;
      text-align: center;
    }
}

@media screen and (min-width:1200px) {
    .box:after {
        content: '';
        display: table;
        clear: both;
    }
}
